@model GP_EMR_Project.Models.Medical_Organization

<div>
    <h4>Medical_Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medical_Org_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medical_Org_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medium_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medium_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Medical_Org_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
