@model IEnumerable<GP_EMR_Project.Models.Medical_Organization>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h3 style="text-align:center">Request of Activation from Medical Organizations</h3>
<hr />

<table class="table-hover table-bordered" style="margin-left:30px;">
    <tr style="text-align:center; border:solid">
        <th>
           Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Phone)
        </th>

        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if(item.User.Status_Of_Account == 0) {
    <tr style="text-align:center;">
        <td>
            @Html.DisplayFor(modelItem => item.Medical_Org_Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.User.Address)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.User.City)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.User.Phone)
        </td>

        @if (item.User.Status_Of_Account == 0)
        {
            <td style="background-color:red"></td> <!--In Activated-->
        }
        else if (item.User.Status_Of_Account == 1)
        {
            <td style="background-color:green"></td> <!--Activated-->
        }
        else if (item.User.Status_Of_Account == 3)
        {
            <td style="background-color:black"></td> <!--blocked-->
        }

            <td>
                @Html.ActionLink("Active", "Active_Medical_Org", new { id = item.Medical_Org_Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Details", "Details_Medical_Org", new { id = item.Medical_Org_Id }, new { @class = "btn btn-info" })
            </td>
    </tr>
    }
}

</table>

<br />
