@model IEnumerable<GP_EMR_Project.Models.Medical_Organization>
@{ 
    ViewBag.Title = "Admin_Index_Medical_Org";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<br />
<div class="" style="text-align:center">
    <ul class="nav navbar-nav" style="text-align:center; display:inline-block">
        @using (Html.BeginForm("Search_Medical_Org", "Admin", FormMethod.Post, new { @style = "display : inline-block" }))
        {
            <li>
                @Html.DropDownList("Search_by",
                           new SelectList(new List<SelectListItem>
                         {
                       new SelectListItem{Value = "med_phone",  Text = "Phone" },
                       new SelectListItem{Value = "med_name",   Text = "Organization Name"},
                       new SelectListItem{Value = "med_city"   ,   Text = "City" },
                       new SelectListItem{Value ="med_email",    Text="email"}
                        }, "value", "text"), "Search By", new { @class = "form-control", @style = "margin-left :1px;",required = true }
                       )
                @Html.Editor("Search", new { htmlAttributes = new { @class = "form-control", placeholder = "Search",style= "text-align:center;", required = true} })
                <input type="submit" value="Search" class="btn btn-outline-danger" style="width:100%"/>
            </li>
        }
        </ul>

    <ul class="nav navbar-nav" style="text-align:center; display:inline-block">
        @using (Html.BeginForm("Filter", "Admin", FormMethod.Get, new { @style = "display : inline-block" }))
        {
            <li>
                @Html.DropDownList("Filter_by",
               new SelectList (new List<SelectListItem>
                         {
                        new SelectListItem {Text = "High Rate", Value = "High_Rate" },
                        new SelectListItem {Text = "Low Rate", Value = "Low_Rate"},
                        new SelectListItem {Text = "Name", Value = "Name"},
                        new SelectListItem {Text = "City", Value = "City"}
                        },"value","text")
                , "Filter by", new { @class = "form-control", style = "text-align:center;", required = true }
                        )

                @Html.DropDownList("Order_by",
                               new SelectList(new List<SelectListItem>
                             {
                           new SelectListItem{Value = "asc", Text = "Ascending",Selected= true },
                           new SelectListItem{Value = "dsc", Text = "Descending"},
                            }, "value", "text"), "Order By", new { @class = "form-control", style = "text-align:center;" }
                           )
                <input type="submit" value="Apply" class="btn btn-outline-danger" style="width:100%"/>
            </li>
        }
        </ul>
</div>

<hr />
<h3 style="text-align:center">Top 10</h3>
<div style="
         margin-top: 1%;
       ">
    <table class="table table-bordered table-hover">
        <tr style="text-align:center">
            <th>
                Name
            </th>

            <th>
                Rate
            </th>

            <th>
                Phone
            </th>

            <th>
                City
            </th>

            <th>
                Status
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.Medical_Org_Name)
            </td>

            <td>
                <small-star-rating>
                    @{
                        var rate = item.Medium_Rate;
                        var fraction = item.Medium_Rate - Math.Truncate(Double.Parse(rate.ToString()));
                        if (rate == null || rate == 0)
                        {
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star "></div>
                            <div class="star "></div>
                            <div class="star"></div>
                        }
                        else
                        {
                            for (int j = 1; j <= 5; j++)
                            {
                                if (j > (int)rate)
                                {
                                    if (0.8 <= fraction)
                                    {
                                        <div class="star full"></div>
                                    }
                                    else if (0.4 <= fraction)
                                    {
                                        <div class="star Halfstar"></div>
                                    }
                                    else if (0.3 >= fraction)
                                    {
                                        <div class="star"></div>
                                    }
                                    fraction = 0;
                                }
                                else
                                {
                                    <div class="star full"></div>
                                }
                            }
                        }
                    }
                </small-star-rating>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Phone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.City)
            </td>

            @if (item.User.Status_Of_Account == 0) // in activated
            {
                <td style="background-color:red"></td>
            }
            @if (item.User.Status_Of_Account == 1) // activated
            {
                <td style="background-color:green"></td>
            }
            @if (item.User.Status_Of_Account == 2) // blocked
            {
                <td style="background-color:black"></td>
            }

            <td>
                @if (item.User.Status_Of_Account != 1)
                {
                    @Html.ActionLink("Active", "Active_Account", new { id = item.Medical_Org_Id }, new { @class = "btn btn-outline-danger", style = "color:green" })
                }
                @if (item.User.Status_Of_Account == 1)
                {
                    @Html.ActionLink("Block", "Block", new { id = item.Medical_Org_Id }, new { @class = "btn btn-outline-danger", style = "color:black" })
                }

                @Html.ActionLink("Details", "Details", new { id = item.Medical_Org_Id }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Edit", "Edit", new { id = item.Medical_Org_Id }, new { @class = "btn btn-outline-danger" })

                @if (item.User.Status_Of_Account == 0)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Medical_Org_Id }, new { @class = "btn btn-outline-danger" })
                }

            </td>
        </tr>
        }
    </table>
</div>