@model IEnumerable<GP_EMR_Project.Models.User>

@{ 
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div style="
         margin-top: 1%;
         margin-left:5px;
         margin-right:8px;
       ">
    <table class="table table-bordered table-hover">

        <tr style="text-align:center">

            <th>
                Email
            </th>

            <th>
                User Type
            </th>

            <th>
                Phone
            </th>

            <th>
                City
            </th>

            <th>
                Account Status
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr style="text-align:center">

            <td>@item.Email</td>
            @if (item.User_Type == 2)
            {
                <td>Medical Organization</td>
            }
            else if (item.User_Type == 3)
            {
                <td>Doctor</td>
            }
            else if (item.User_Type == 4)
            {
                <td>Patient</td>
            }
            else if (item.User_Type == 1)
            {
                <td>Admin</td>
            }

            <td>@item.Phone</td>

            <td>@item.City</td>

            @if (item.Status_Of_Account == 0)
            {
                <td style="background-color:red"></td>
            }
            else if (item.Status_Of_Account == 1)
            {
                <td style="background-color:green"></td>
            }
            else if (item.Status_Of_Account == 3)
            {
                <td style="background-color:black"></td>
            }
                <td>
                    @if (item.User_Type == 2)
                    {
                        @Html.ActionLink("Active", "Active_Medical_Org", new { id = item.User_Id }, new { @class = "btn btn-danger" })
                    }
                    @Html.ActionLink("More Detailed", "Details", new { id = item.User_Id }, new { @class = "btn btn-danger" })
                </td>
        </tr>
        <tr style="text-align:center">

            @{
                var src = "";
                try
                {
                    src = item.Person.User.Photo_Url.Split(' ')[0];
                }
                catch (Exception) { src = "~/Content/MainPageBootstrap/pic/c3-healthcare-logo-md.png"; }
            }
            <td>
                <img src="@Url.Content(src)" alt="user photo" style="height:100px;" />
            </td>
        </tr>
        }
    </table>
</div>