@model GP_EMR_Project.Models.User

@{
    ViewBag.Title = "ForgetPassword";
}

<div>
    <!-- hospital registration -->
    <div class="hospital_register_con" id="tab1-content">
        <div class="container ">
            <div class="row">

                <div class="col-md-7">
                    <h1 class="text-left">Send Message to Email for reset password after user verification </h1>
                    <p>Please after identify your user type check your email</p>
                </div>



                <div class="col-md-5 hos">

                    <div class="row">
                        <div class="col-md">
                            <h3 class="text-center">Forget Password Form</h3>
                        </div>
                    </div>
                    <hr color="#FFFFFF" />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row form_con ">
                            @Html.Label("Email", htmlAttributes: new { @class = "col - md - 3 Label" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", required = true, placeholder = "Type the Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form_con ">
                            @Html.Label("User", htmlAttributes: new { @class = "col - md - 3 Label" })

                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.User_Type,
                               new SelectList( new List<SelectListItem>{
                               new SelectListItem{Value = "1",  Text = "Admin" },
                               new SelectListItem{Value = "2",  Text = "Medical Organization" },
                               new SelectListItem{Value = "3",  Text = "Doctor" },
                               new SelectListItem{Value = "4",  Text = "Patient" }
                            }, "value", "text"), "User Type", new { @class = "form-control", required = true })
                                @Html.ValidationMessageFor(model => model.User_Type, "", new { @class = "text-danger" })
                            </div>
                        </div>
                            <input type="submit" class="btn btn-primary" value="Send" />
                            }


                        </div>

                    </div>
        </div>
    </div>
    <!--end hospital rigitration-->
</div>

