@model GP_EMR_Project.Models.Person

@{
    ViewBag.Title = "Register_Person";
}
<div>
    <!-- start registration -->
    <div class="patient_register_con" id="tab1-content">
        <div class="container ">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-left">Register Notes:</h1>
                    <p class="text-left">
                        You Can Register as Patient for Create Your Health Record. <br />
                        Or You Can Register as Medical Organization for
                        Enjoy by Our Service to Hospitals and Medical Labs and Other Medical Organizations
                    </p>
                </div>
                <div class="col-md-5">

                    <div class="row">
                        <div class="col-md">
                            <h3 class="text-center">Registration Form</h3>
                        </div>
                    </div>
                    <hr color="#FFFFFF" />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="row form_con ">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.Label("First Name", htmlAttributes: new { @class = "col - md - 3 Label " })
                        <div class="col-md-9">
                            @Html.EditorFor(model =>model.First_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Type your First Name", required = true } })
                            @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
                        </div>

                        @Html.Label("Last Name", htmlAttributes: new { @class = "col - md - 3 Label" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Type the Last Name", required = true } })
                            @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
                        </div>

                        @Html.Label("Nationality", htmlAttributes: new { @class = "col - md - 3 Label" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control", placeholder = "Type The Nationality" } })
                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                        </div>

                        @Html.Label("National Id", htmlAttributes: new { @class = "col - md - 3 Label" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.National_Id, new { htmlAttributes = new { @class = "form-control", placeholder = "Type the National Id", required = true, maxlength = "14" } })
                            @Html.ValidationMessageFor(model => model.National_Id, "", new { @class = "text-danger" })
                        </div>


                        @Html.Label("Birth Date", htmlAttributes: new { @class = "col - md - 3 Label" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Birth_Date, new { htmlAttributes = new { @class = "form-control", type = "date", placeholder = "Type the Birth Date", required = true } })
                            @Html.ValidationMessageFor(model => model.Birth_Date, "", new { @class = "text-danger" })
                        </div>

                        <br />
                        @Html.Label("Gender", htmlAttributes: new { @class = "col - md - 3 Label" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model =>model.Gender,
                           new SelectList( new List<SelectListItem>{
                           new SelectListItem{Value = "male",  Text = "Male" },
                           new SelectListItem{Value = "female",  Text = "Female" },
                        }, "value", "text"), "Gender", new { @class = "form-control", required = true })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            <br />
                        </div>



                        @Html.HiddenFor(model => model.Person_Id)
                        <input type="submit" class="btn btn-primary" value="Next" />

                    </div>
                    }

                </div>

            </div>
        </div>
    </div>
    <!--end person regitration-->
</div>

