<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Patient Account</title>
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/hover-min.css" />
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/bootschanges.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/style.css" />
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/Registration.css" />
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/owl.theme.default.css" />
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/StarRating.css" />
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/UserProfile.css" />
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/AdminDashbord.css" />
    <link rel="stylesheet" href="~/Content/MainPageBootstrap/css/manage hospital account.css" />
</head>

<body>

    <!-- start upper bar -->
    <div class="upper-bar ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm ">
                    <div class="navbar-brand">
                        <img src="~/Content/MainPageBootstrap/pic/c3-healthcare-logo-md.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        <span class="h">Health</span><span class="c">Care</span>
                    </div>
                </div>
                <div class=" f col-lg-6 col-sm-7">

                    @using (Html.BeginForm("Search", "Patient", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
                    {
                        @Html.DropDownList("Filter_by",new List<SelectListItem>
                       {
                           new SelectListItem(){Text ="Hospitals",Value="Hospitals"},
                           new SelectListItem(){Text="Doctors",Value="Doctors"},
                       },"Filter by", new { @class = "ml-auto form-control mr-sm-2" })
                        @Html.Editor("Search", new { htmlAttributes = new { @class = " ml-auto form-control mr-sm-2", type = "search", name = "Search", placeholder = "email or name" } })
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- end upperbar -->
    <!-- start navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav ">

                    @if (Session["UserID"] == null)
                    {
                        <li class="nav-item active hvr-grow">
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item hvr-grow">
                            @Html.ActionLink("About Us", "About", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item hvr-grow">
                            @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item hvr-grow">
                            @Html.ActionLink("Login", "Login", "Home", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item hvr-grow">
                            @Html.ActionLink("Register", "Register", "Home", null, new { @class = "nav-link" })
                        </li>
                    }

                    @if (Session["UserID"] != null)
                    {
                        <li class="nav-item hvr-grow">
                            @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "nav-link" })
                        </li>

                        <li>
                            <h1 style="color:gray"> | </h1>
                        </li>

                        <li>
                            @Html.ActionLink("Index", "Index", "Patient", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item hvr-grow">
                            @Html.ActionLink("Manage Account", "Manage_Account", "Patient",null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item  dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Medical Record
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @Html.ActionLink("Family History", "Family_History", "Patient", new { id = ((GP_EMR_Project.Models.User) Session["UserID"]).User_Id }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Your Diseases", "Your_Diseases", "Patient", new { id = ((GP_EMR_Project.Models.User)Session["UserID"]).User_Id }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Medical Examinations", "Examinations", "Patient", new { id = ((GP_EMR_Project.Models.User)Session["UserID"]).User_Id }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Medical Reviews", "Reviews", "Patient", new { id = ((GP_EMR_Project.Models.User)Session["UserID"]).User_Id }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Operations", "Operations", "Patient", new { id = ((GP_EMR_Project.Models.User)Session["UserID"]).User_Id }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Laboratories & radiology", "Laboratories_Radiology", "Patient", new { id = ((GP_EMR_Project.Models.User)Session["UserID"]).User_Id }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Child Followup Form", "Child_Followup", "Patient", new { id = ((GP_EMR_Project.Models.User)Session["UserID"]).User_Id }, new { @class = "dropdown-item" })
                            </div>
                        </li>

                        <li class="nav-item hvr-grow">
                            @Html.ActionLink("Book", "Book", "Patient", null, new { @class = "nav-link" })
                        </li>

                    }

                </ul>

                <ul class="navbar-nav ml-auto ">
                    <li class="">
                        <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com" class="fa fa-twitter" target="_blank"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com" class="fa fa-youtube" target="_blank"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.linkedin.com" class="fa fa-linkedin" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end navbar -->


    <div style="background-color:beige;">
        @RenderBody()
    </div>

    <div class="footer ">
        <div class="container">
            <div class="row m-auto">
                <div class="col ">
                    <h3 class="">Links</h3>
                    <ul class="list-unstyled">
                        <li class="icon">@Html.ActionLink("Home","Index","Admin")</li>
                    </ul>
                </div>

                <div class="col">
                    <h3 class="">Links</h3>
                    <ul class="list-unstyled">
                        <li class="icon">@Html.ActionLink("Home", "Index", "Admin")</li>
                    </ul>
                </div>

                <div class="col">
                    <h3 class="vi">Our Social Media</h3>
                    <ul class="list-unstyled split">
                        <li class="">
                            <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com" class="fa fa-twitter" target="_blank"></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.youtube.com" class="fa fa-youtube" target="_blank"></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com" class="fa fa-linkedin" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">

        <div class=" container text-center">
            <span style="color:red">Health Care</span>
            <span style="color:blue">&copy;  All Right Reserved</span>
            <br /><span style="color:blue">@DateTime.Now.Month / @DateTime.Now.Year</span>
        </div>

    </div>


    <script src="~/Content/MainPageBootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/MainPageBootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/MainPageBootstrap/js/owl.carousel.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })</script>
    @RenderSection("scripts", required: false)
</body>
</html>
