@model GP_EMR_Project.Models.Patient

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Patient.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Learning_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Learning_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Social_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Social_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Death_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Death_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alternative_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alternative_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason_Death)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason_Death)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Child_FollowUp_Form.Feed_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Child_FollowUp_Form.Feed_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.General_Examination.Blood_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.General_Examination.Blood_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.First_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
