@model GP_EMR_Project.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Patient.cshtml";
}

<br />

<h2 style="text-align:center; font-style:italic;">Details</h2>
<hr />

@if (Model.User_Type == 3)
{
    <div>
        <div style=" text-align:center">
            @{
                var src = "";
                try
                {
                    src = Model.Photo_Url.Split(' ')[0];
                }
                catch (Exception ex)
                {
                    src = "~/Content/MainPageBootstrap/pic/c3-healthcare-logo-md.png";
                }
            }
            <img src="@Url.Content(src)" alt="Hospital img" class="mg-thumbnail im" style="border-radius:50%" />
            <br />
            <small-star-rating>
                @{
                    var rate = Model.Person.Doctor.Medium_Rate;
                    var fraction = Model.Person.Doctor.Medium_Rate - Math.Truncate(Double.Parse(rate.ToString()));
                    if (rate == null || rate == 0)
                    {
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star "></div>
                        <div class="star "></div>
                        <div class="star"></div>
                            }
                            else
                            {
                                for (int j = 1; j <= 5; j++)
                                {
                                 if (j > (int)rate)
                                {
                                 if (0.8 <= fraction)
                                 {       
                                    <div class="star full"></div>
                                }
                                else if (0.4 <= fraction)
                                {
                                    <div class="star Halfstar"></div>
                                }
                                else if (0.3 >= fraction)
                                {
                                    <div class="star"></div>
                                }
                                fraction = 0;
                            }
                            else
                            {
                                <div class="star full"></div>
                            }
                        }
                    }
                }
            </small-star-rating>
        </div>
        <table class="table table-bordered table-hover">
            <tr style="text-align:center">
                <th>Email</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Nationality</th>
                <th>Type</th>
            </tr>

            <tr style="text-align:center; color:blue">
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Person.First_Name) &nbsp; @Html.DisplayFor(model => model.Person.Last_Name)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Person.Gender)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Person.Nationality)
                </td>

                <td>Doctor</td>
            </tr>

            <br />

            <tr style="text-align:center">
                <th>Medical Organization</th>
                <th>Organization Email</th>
                <th>Organization Phone</th>
                <th>Organization City</th>
                <th>Organization Address</th>
            </tr>
            
            <tr style="text-align:center; color:blue">
                @if (Model.Person.Doctor.Medical_Org_Id == 0)
                {
                    <td>Empty</td>
                    <td>Empty</td>
                    <td>Empty</td>
                    <td>Empty</td>
                    <td>Empty</td>
                }
                else
                {
                    GP_EMR_Project.Models.Medical_Organization med = (GP_EMR_Project.Models.Medical_Organization)ViewBag.Medical_Org;

                    <td>@ViewBag.Medical_Org_Name</td>

                    <td>@ViewBag.Medical_Org_Email</td>

                    <td>@ViewBag.Medical_Org_Phone</td>

                    <td>@ViewBag.Medical_Org_City</td>

                    <td>@ViewBag.Medical_Org_Address</td>
                }
            </tr>

                <tr style="text-align:center;">
                    <th>
                        Acadimic Degree
                    </th>
                    <th>
                        Acadimic Degree
                    </th>

                    <th>
                        Functional Degree
                    </th>

                    <th>
                        Spacialization
                    </th>

                    <th>
                        Department
                    </th>
                </tr>

                <tr style="text-align:center; color:blue">
                    <td>
                        @Html.DisplayFor(model => model.Person.Doctor.Acadimic_Degree)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Person.Doctor.Acadimic_Degree)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Person.Doctor.Functional_Degree)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Person.Doctor.Spacialization)
                    </td>

                    @if (Model.Person.Doctor.Department == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>
                            @Model.Person.Doctor.Department.Department_Name
                        </td>
                    }
                </tr>

                <tr style="text-align:center;color:red">
                    <th>The Schedule  =></th>
                    @foreach (var item in Model.Person.Doctor.Doctor_Schedule.Where(dc => dc.doctor_id == Model.User_Id))
                    {
                        <td style="color:green">@item.day</td>
                    }
                </tr>


                <tr style="text-align:center">

                    @using (Html.BeginForm("Rating", "Patient", FormMethod.Post, new { style = "display:inline-block" }))
                    {
                        <td>

                            @Html.DropDownList("Rate",new SelectList (new List<SelectListItem> {
                           new SelectListItem {Value="0", Text = "0"},
                           new SelectListItem {Value="0.5", Text = "0.5"},
                           new SelectListItem {Value="1", Text = "1"},
                           new SelectListItem {Value="1,5", Text = "1.5"},
                           new SelectListItem {Value="2", Text = "2"},
                           new SelectListItem {Value="2.5", Text = "2.5"},
                           new SelectListItem {Value="3", Text = "3"},
                           new SelectListItem {Value="3.5", Text = "3.5"},
                           new SelectListItem {Value="4", Text = "4"},
                           new SelectListItem {Value="4.5", Text = "4.5"},
                           new SelectListItem {Value="5", Text = "5"}
                           }, "Value","Text"),"Rate",new { @class="form-control",required = "true",style="display:inline-block"})
                        </td>

                        <td>
                            @Html.HiddenFor(model => model.User_Id)
                            <button class="btn btn-outline-danger" type="submit" style="">Rate</button>

                        </td>
                    }

                    <td>
                        @using (Html.BeginForm("Select_Dep_For_Book", "Patient", FormMethod.Get, new { style = "display:inline-block" }))
                        {
                            @Html.Hidden("Patient_id", ((GP_EMR_Project.Models.User)Session["UserId"]).User_Id)
                            @Html.Hidden("Med_Org_Id", Model.Person.Doctor.Medical_Org_Id)
                            <button class="btn btn-outline-danger" type="submit">Book</button>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
}

else if(Model.User_Type == 2)
{
    <div style=" text-align:center">
        @{
            var src = "";
            try
            {
                src = Model.Photo_Url.Split(' ')[0];
            }
            catch { src = "~/Content/MainPageBootstrap/pic/c3-healthcare-logo-md.png"; }
        }
        <img src="@Url.Content(src)" class="img-thumbnail im" alt="Hospital img" style="border-radius:50%;" />
        <br />
        <small-star-rating>
            @{
                var rate = Model.Medical_Organization.Medium_Rate;
                var fraction = Model.Medical_Organization.Medium_Rate - Math.Truncate(Double.Parse(rate.ToString()));
                if (rate == null || rate == 0)
                {
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star "></div>
                    <div class="star "></div>
                    <div class="star"></div>
                }
                else
                {
                    for (int j = 1; j <= 5; j++)
                    {
                        if (j > (int)rate)
                        {
                            if (0.8 <= fraction)
                            {
                                <div class="star full"></div>
                            }
                            else if (0.4 <= fraction)
                            {
                                <div class="star Halfstar"></div>
                            }
                            else if (0.3 >= fraction)
                            {
                                <div class="star"></div>
                            }
                            fraction = 0;
                        }
                        else
                        {
                            <div class="star full"></div>
                        }
                    }
                }
            }
        </small-star-rating>
    </div>
    <br />

    <table class="table table-hover table-bordered" style="text-align:center;">

        <tr style="text-align:center">
            <th>Email</th>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th>Address</th>
        </tr>

        <tr style="text-align:center; color:blue">
            <td>@Html.DisplayFor(model => model.Email)</td>
            <td>@Html.DisplayFor(model => model.Medical_Organization.Medical_Org_Name)</td>
            <td>@Html.DisplayFor(model => model.Phone)</td>
            <td>@Html.DisplayFor(model => model.City)</td>
            <td>@Html.DisplayFor(model => model.Address)</td>       
        </tr>

        <tr style="text-align:center;">
 
            <th>
                Number of Departments
            </th>
 
        </tr>

        <tr style="text-align:center; color:blue">
            <td>@Model.Medical_Organization.Departments.Count()</td>

            @using (Html.BeginForm("Rating", "Patient", FormMethod.Post, new { style = "display:inline-block" }))
            {
                <td>

                    @Html.DropDownList("Rate",new SelectList (new List<SelectListItem> {
                   new SelectListItem {Value="0", Text = "0"},
                   new SelectListItem {Value="0.5", Text = "0.5"},
                   new SelectListItem {Value="1", Text = "1"},
                   new SelectListItem {Value="1,5", Text = "1.5"},
                   new SelectListItem {Value="2", Text = "2"},
                   new SelectListItem {Value="2.5", Text = "2.5"},
                   new SelectListItem {Value="3", Text = "3"},
                   new SelectListItem {Value="3.5", Text = "3.5"},
                   new SelectListItem {Value="4", Text = "4"},
                   new SelectListItem {Value="4.5", Text = "4.5"},
                   new SelectListItem {Value="5", Text = "5"}
                   }, "Value","Text"),"Rate",new { @class="form-control",required = "true",style="display:inline-block"})
                </td>

                <td>
                    @Html.HiddenFor(model => model.User_Id)
                    <button class="btn btn-outline-danger" type="submit" style="">Rate</button>

                </td>
            }

            <td>
                <!--Sleect_Dep_For_Book-->
                @using (Html.BeginForm("Select_Dep_For_Book", "Patient", FormMethod.Get, new { style = "display:inline-block" }))
                {
                    @Html.Hidden("Patient_id", ((GP_EMR_Project.Models.User)Session["UserId"]).User_Id)
                    @Html.Hidden("Med_Org_Id", Model.User_Id)
                    <button class="btn btn-outline-danger" type="submit">Go To Book</button>
                }
            </td>
        </tr>

    </table>
}
<br />



