@model  IEnumerable<GP_EMR_Project.Models.Permission>

@{
    ViewBag.Title = "Details_Of_Booking";
    Layout = "~/Views/Shared/_Patient.cshtml";
}

<br />
<div class="contentt">
    <h3 class="text-center" style="color:grey">Your Bookings</h3>
    <hr />
    <div style="width:100%;">
        <div class="col-4" style="width:40%; display:inline-block; margin-left:15%; border:5px solid silver; padding:10px;">
            @using (Html.BeginForm("Search_In_Bookings", "Patient", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("Patient_Id", (long?)ViewBag.Patient_Id)
                <input class=" ml-auto form-control mr-sm-auto" type="date" id="" name="Search" placeholder="Search" style="text-align:center" aria-label="Search" required>
                <input class="btn btn-outline-secondary my-2 my-sm-0" value="Search" type="submit">
            }
        </div>
        <div class="col-4" style="width:40%; display:inline-block; border:5px solid silver; padding:10px;">
            @using (Html.BeginForm("Order_By_Bookings", "Patient", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("Patient_Id", (long?)ViewBag.Patient_Id)
                @Html.DropDownList("Order_By",new SelectList(new List<SelectListItem> {
                                                                       new SelectListItem{Value="last_dates",Text="Last Dates",Selected=true},
                                                                       new SelectListItem{Value="old_dates",Text="Old Dates"},
                  }, "value", "text"), "Order By", new { @class = "form-control", required = true })
                <input class="btn btn-outline-secondary my-2 my-sm-0" style="margin-left:10%" value="Arrange" type="submit">
            }
        </div>
    </div>
    <hr />
    <button class="btn btn-outline-info my-2 my-sm-0" style=" margin-left: 45%; width:150px" id="printButton" runat="server" Text="Print" OnClick="javascript:window.print();">Print</button>
    <hr>
    <div class="container">
        <div class="table-responsive">
            <table class=" main-table table table-bordered table-hover text-center">
                <tr>
                    <th>Date</th>
                    <th>Doctor Name</th>
                    <th>Department</th>
                    <th>Medical Organization</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
 
                        GP_EMR_Project.Models.EMR_GP_DBEntities db = new GP_EMR_Project.Models.EMR_GP_DBEntities();
                        GP_EMR_Project.Models.Doctor dc = db.Doctors.Where(doc => doc.Doctor_Id == item.Doctor_Id).Single();
                        GP_EMR_Project.Models.Medical_Organization med = db.Medical_Organization.Where(md => md.Medical_Org_Id == dc.Medical_Org_Id).Single();

                    <tr>
                        <td>@item.Booking_Date.ToShortDateString()</td>
                        <td>@dc.Person.First_Name @dc.Person.Last_Name</td>
                        <td>@dc.Department.Department_Name</td>
                        <td>@med.Medical_Org_Name</td>
                        <td>
                            @using(Html.BeginForm("DeleteBooking", "Patient"))
                            {
                            @Html.Hidden("Booking_Id", item.Permission_Id)
                             @Html.ValidationMessage("DeleteBooking", "", new { @class = "text-danger" })
                            <button class="btn btn-danger" type="submit">Delete</button>
                            }
                        </td>
                    </tr>
                }

            </table>
            <hr />
        </div>
    </div>
</div>
