@model GP_EMR_Project.Models.Patient

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Patient.cshtml";
}

<div class="content"   style="background-color:beige" >
    <div style=" text-align:center">
        @{
            var src = "";
            try
            {
                src = Model.Person.User.Photo_Url.Split(' ')[0];
            }
            catch (Exception ex)
            {
                src = "~/Content/MainPageBootstrap/pic/c3-healthcare-logo-md.png";
            }
        }
        <img src="@Url.Content(src)" alt="patient img" class="img-thumbnail im" style="border-radius:50%;" />
        <h3 style="color:blue;">@Model.Person.First_Name<span style="color:green">@Model.Person.Last_Name </span> </h3>
        <hr style="width:50%"/>
    </div>

    <div style="text-align:center">
        <div class="u">
            <div class="container stats text-center">
                <h1>General Examination</h1> <br />
                                             <div class="row">
                                                 @if (Model.General_Examination != null)
                                                 {
                                                     <div class="col-md-3">
                                                         <div class="stat members">
                                                             The Length
                                                             @if (Model.General_Examination.Length != null)
                                                             {
                                                                 <span><a href="">@Model.General_Examination.Length</a></span>
                                                             }
                                                             else
                                                             {
                                                                 <h2>Empty</h2>
                                                             }
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat members">
                                                             The Weight
                                                             @if (Model.General_Examination.Weight != null)
                                                             {
                                                                 <span><a href="">@Model.General_Examination.Weight</a></span>
                                                             }
                                                             else
                                                             {
                                                                 <h2>Empty</h2>
                                                             }
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat pending">
                                                             The Temperature
                                                             @if (Model.General_Examination.Temperature != null)
                                                             {
                                                                 <span><a href="">@Model.General_Examination.Temperature</a></span>
                                                             }
                                                             else
                                                             {
                                                                 <h2>Empty</h2>
                                                             }
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat pending">
                                                             The Blood Pressure
                                                             @if (Model.General_Examination.Blood_Pressure != null)
                                                             {
                                                                 <span><a href="">@Model.General_Examination.Blood_Pressure</a></span>
                                                             }
                                                             else
                                                             {
                                                                 <h2>Empty</h2>
                                                             }
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat pending">
                                                             The Blood Type
                                                             @if (Model.General_Examination.Blood_Type != null)
                                                             {
                                                                 <span><a href="">@Model.General_Examination.Blood_Type</a></span>
                                                             }
                                                             else
                                                             {
                                                                 <h2>Empty</h2>
                                                             }
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat hospitals">
                                                             The Diabetes
                                                             @if (Model.General_Examination.Diabetes != null)
                                                             {
                                                                 <span><a href="">@Model.General_Examination.Diabetes</a></span>
                                                             }
                                                             else
                                                             {
                                                                 <h2>Empty</h2>
                                                             }
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat hospitals">
                                                             <!--we seperate Allergies from each others by  (,) -->
                                                             <h5 style="text-decoration:underline;">The Allergies</h5>
                                                             @if (Model.General_Examination.Allergies != null)
                                                             {
                                                                 foreach (var item in Model.General_Examination.Allergies)
                                                                 {
                                                                     <h6 >@item.Allergies_Name</h6>
                                                                 }
                                                             }
                                                             else
                                                             {
                                                                 <h2 >Empty</h2>
                                                             }
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat hospitals">
                                                             <!--we seperate habits from each others by (,) -->
                                                             <h5 style="text-decoration:underline;">The Habits</h5>
                                                             @if (Model.General_Examination.Habits!= null)
                                                             {
                                                                 foreach (var item in Model.General_Examination.Habits)
                                                                 {
                                                                     <h6 href="">@item.Habit_Name</h6>
                                                                 }
                                                             }
                                                             else
                                                             {
                                                                 <span>Empty</span>
                                                             }
                                                         </div>
                                                     </div>
                                                 }
                                                 else
                                                 {
                                                     <div class="col-md-3">
                                                         <div class="stat blocked">
                                                             <h4>The Length</h4>
                                                             <h5>Undefined</h5>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat blocked">
                                                             <h4>The Weight</h4>
                                                             <h5>Undefined</h5>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat blocked">
                                                             <h4>The Temperature</h4>
                                                             <h5>Undefined</h5>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat blocked">
                                                             <h4>The Blood Pressure</h4>
                                                             <h5>Undefined</h5>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat blocked">
                                                             <h4>The Blood Type</h4>
                                                             <h5>Undefined</h5>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat blocked">
                                                             <h4>The Diabetes</h4>
                                                             <h5>Undefined</h5>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat blocked">
                                                             <h4>The Allergies</h4>
                                                             <h5>Undefined</h5>
                                                         </div>
                                                     </div>

                                                     <div class="col-md-3">
                                                         <div class="stat blocked">
                                                             <h4>The Habits</h4>
                                                             <h5>Undefined</h5>
                                                         </div>
                                                     </div>
                                                     
                                                 }
                                             </div>
            </div>
        </div>
        <button class="btn btn-outline-info" style="text-align:center; margin-top:15px; width:150px" id="printButton" runat="server" Text="Print" OnClick="javascript:window.print();">Print</button>
    </div>
</div>