@model IEnumerable<GP_EMR_Project.Models.Doctor>

@{
    ViewBag.Title = "Assing_Doctors_Department";
    Layout = "~/Views/Shared/_Medical_Organization.cshtml";
}


<div class="contentt">
    <h3 class="text-center">Assign into @ViewBag.Dep_Name Department</h3>

    <p>
        <a href="@Url.Action("Manage_Department","Medical_Organization")" class="btn btn-primary">Back</a>
    </p>
    <div class="container">
        <div class="table-responsive">
            <table class=" main-table table table-bordered text-center">
                <tr>
                    <th>Doctor name</th>
                    <th>Spacialization</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Person.First_Name  @item.Person.Last_Name</td>

                        <td>
                            @item.Spacialization
                        </td>

                        <td>
                            <!--Assign to department-->
                            @using (Html.BeginForm("Assign_Doctors_Department", "Medical_Organization", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.Hidden("Dep_Id",(long) ViewBag.Dep_Id)
                                @Html.Hidden("Doctor_Id",item.Doctor_Id)
                                <button class="btn btn-danger" type="submit">Assign</button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>



