@model IEnumerable<GP_EMR_Project.Models.Medical_Organization>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Medical_Organization.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medical_Org_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medium_Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medical_Org_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medium_Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Medical_Org_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Medical_Org_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Medical_Org_Id })
        </td>
    </tr>
}

</table>
