@model IEnumerable<GP_EMR_Project.Models.Doctor>

@{
    ViewBag.Title = "Manage_Doctors";
    Layout = "~/Views/Shared/_Medical_Organization.cshtml";
}


<div class="contentt">
    <div class="t container">
        <h1 class="text-center">Doctors</h1>
        <div class="row justify-content-between">
            <div class="col-4">
                <form class="form-inline">
                    <input class=" ml-auto form-control mr-sm-2" type="search" placeholder="Search By Name" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-4">

                <select class="custom-select">
                    <option selected>Filter by Governorate</option>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <p>
        <a href="@Url.Action("Add_New_Doctor","Medical_Organization")" class="btn btn-dark e"><i class="fa fa-plus"></i>Add New Doctor</a>
    </p>
    <div class="container">
        <div class="table-responsive">
            <table class=" main-table table table-bordered text-center">
                <tr>
                    <th>Doctor Name</th>
                    <th>Doctor Department</th>
                    <th>Control Doctor</th>
                </tr>
                <tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.First_Name)
                        @Html.DisplayFor(modelItem => item.Person.Last_Name)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Department.Department_Name)</td>
                    <td>
                        @Html.ActionLink("Details", "Doctor_Details", new { id = item.Doctor_Id }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Edit", "Edit_Doctor", new { id = item.Doctor_Id }, new { @class = "btn btn-secondary" })
                        @if (item.Person.User.Status_Of_Account != 2)
                        {
                            @Html.ActionLink("Block", "Block_Doctor", new { id = item.Doctor_Id }, new { @class = "btn btn-danger" })
                        }
                        else
                        {
                            @Html.ActionLink("Unblock", "Unblock_Doctor", new { id = item.Doctor_Id }, new { @class = "btn btn-danger" })

                        }
                        @Html.ActionLink("Delete", "Delete_Doctor", new { id = item.Doctor_Id }, new { @class = "btn btn-danger" })

                    </td>
                </tr>
            }
                </table>
            </div>

        </div>
    </div>


 