@model IEnumerable<GP_EMR_Project.Models.Department>

@{
    ViewBag.Title = "Manage_Department";
    Layout = "~/Views/Shared/_Medical_Organization.cshtml";
}

<div class="contentt">
    <h3 class="text-center">Manage Department</h3>
    @{
        var id = (long)ViewData["medical_org_id"];
    }
    <p>
        <a href="@Url.Action("Add_New_Department","Medical_Organization",new { id=id})" class="btn btn-dark e"><i class="fa fa-plus"></i>Add New Department</a>
    </p>
    <div class="container">
        <div class="table-responsive">
            <table class=" main-table table table-bordered text-center">
                <tr>
                    <th>Department name</th>
                    <th>Control Department</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Department_Name)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit_Department", new { id = item.Department_Id }, new { @class = "btn btn-secondary" }) |
                            @Html.ActionLink("Delete", "Delete_Department", new { id = item.Department_Id }, new { @class = "btn btn-danger" }) |
                            @Html.ActionLink("Assign Doctors", "Assign_Doctors_Department", new { id = item.Department_Id }, new { @class = "btn btn-outline-primary" }) |
                            @Html.ActionLink("(Show / Un Assign) Doctors", "Show_Doctors_Department", new { id = item.Department_Id }, new { @class = "btn btn-warning" })
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>


