@model IEnumerable<GP_EMR_Project.Models.Doctor>

@{
    ViewBag.Title = "Manage_Doctors";
    Layout = "~/Views/Shared/_Medical_Organization.cshtml";
}


<div class="contentt">
    <div class="t container">
        <h1 class="text-center">Doctors</h1>
        <div class="" style=" display:inline-block; margin-left:8%; border:5px solid silver; padding:10px;">
            @using (Html.BeginForm("Search_In_Doctors", "Medical_Organization", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.DropDownList("Search_By", new SelectList(new List<SelectListItem>{
                                                                         new SelectListItem{Value = "Department",  Text = "Department Name" },
                                                                         new SelectListItem{Value = "Doctor_F",  Text = "Doctor First Name" },
                                                                         new SelectListItem{Value = "Doctor-L",  Text = "Doctor Last Name" },
                                                                         new SelectListItem{Value= "National_Id",Text="National Id of Doctor"}
                                                                         }, "value", "text"), "Search By", new { @class = "form-control",required = true })
                <input class=" ml-auto form-control mr-sm-auto" type="search" id="Search" name="Search" placeholder="Search" style="text-align:center;" aria-label="Search" required>
                @Html.ValidationMessage("Search", "", new { @class = "text-danger" })
                <input class="btn btn-outline-secondary my-2 my-sm-0" value="Search" type="submit">
            }
        </div>
        <a href="@Url.Action("Add_New_Doctor","Medical_Organization")" style="margin-left:5px" class="btn btn-dark e"><i class="fa fa-plus"></i>Add New Doctor</a>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table class=" main-table table table-bordered text-center">
                <tr>
                    <th>Doctor Name</th>
                    <th>Doctor Department</th>
                    <th>Control Doctor</th>
                </tr>
                <tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.First_Name)
                        @Html.DisplayFor(modelItem => item.Person.Last_Name)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Department.Department_Name)</td>
                    <td>
                        @Html.ActionLink("Details", "Doctor_Details", new { id = item.Doctor_Id }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Edit", "Edit_Doctor", new { id = item.Doctor_Id }, new { @class = "btn btn-secondary" })
                        @Html.ActionLink("Manage Schedule", "Manage_Schedule", new { id = item.Doctor_Id }, new { @class = "btn btn-info" })
                        @if (item.Person.User.Status_Of_Account != 2)
                        {
                            @Html.ActionLink("Block", "Block_Doctor", new { id = item.Doctor_Id }, new { @class = "btn btn-danger" })
                        }
                        else
                        {
                            @Html.ActionLink("Unblock", "Unblock_Doctor", new { id = item.Doctor_Id }, new { @class = "btn btn-danger" })

                        }
                        @Html.ActionLink("Delete", "Delete_Doctor", new { id = item.Doctor_Id }, new { @class = "btn btn-danger" })

                    </td>
                </tr>
            }
                </table>
            </div>

        </div>
    </div>


 