@model IEnumerable<GP_EMR_Project.Models.Doctor_Schedule>

@{
    ViewBag.Title = "Manage_Schedule";
    Layout = "~/Views/Shared/_Medical_Organization.cshtml";
}

<br />
<div class="contentt">
    <div class="t container">
        <h1 class="text-center">Schedule</h1>
        <div class="row justify-content-between">
            <div class="col-4">
            </div>
        </div>
    </div>
    <p>
        <a href="@Url.Action("Add_New_Schedule","Medical_Organization",new { id = (long) ViewBag.Doctor_Id })" class="btn btn-dark e"><i class="fa fa-plus"></i>Add New Schedule</a>
        <a href=@Url.Action("Manage_Doctors","Medical_Organization") class="btn btn-outline-info">Back</a>
    </p>
    <div class="container">
        <div class="table-responsive">
            <table class=" main-table table table-bordered text-center">
                <tr>
                    <th>Day</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
                <tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @item.day
                        </td>

                        <td>
                        @item.from
                        </td>

                        <td>
                        @item.to
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit_Schedule", new { id = item.Schedule_Id }, new { @class = "btn btn-info" })
                            @using (Html.BeginForm("Delete_Schedule", "Medical_Organization", FormMethod.Post, new { style = "display : inline-block" }))
                            {
                                @Html.AntiForgeryToken();
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.Hidden("Schedule_Id", item.Schedule_Id)
                                <button type="submit" class="btn btn-danger"> Delete </button>
                            }
                        </td>
                    </tr>
                }
                </table>
            </div>

        </div>
    </div>
<br />

