@model IEnumerable<GP_EMR_Project.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<hr />
<h3 style="text-align:center">Reports</h3>
<br />
<div style="
         margin-top: 1%;
         margin-left:5px;
         margin-right:8px;
       ">
    <table class="table table-bordered table-hover">
        <tr style="text-align:center">
            <th>
                <!--Number of -->
                Users
            </th>

            <th style="color:cadetblue">
                <!--Number of -->
                Medical Organizations
            </th>

            <th style="color:blue">
                <!--Number of -->
                Doctors
            </th>

            <th style="color:green">
                <!--Number of -->
                Life Patients
            </th>

            <th style="color: red">
                <!--Number of -->
                Died Patients
            </th>
        </tr>


        <tr style="text-align:center">
            <td>
                @Model.Count()
            </td>

            <td>
                @Model.Where(u => u.User_Type == 2).Count()
            </td>

            <td>
                @Model.Where(u => u.User_Type == 3).Count()
            </td>

            <td>
                @Model.Where(u => u.User_Type == 4 && u.Person.Patient.Death_Date == null).Count()
            </td>

            <td>
                @Model.Where(u => u.User_Type == 4 && u.Person.Patient.Death_Date != null).Count()
            </td>
        </tr>

        <tr style="text-align:center">
            <!--Active Users-->
            <th>Active Accounts</th>

            <!--Active Hospitals-->
            <th style="color:cadetblue">Active Accounts</th>

            <!--Active Doctors-->
            <th style="color:blue">Active Accounts</th>

            <!--Active Patients-->
            <th style="color:green">Active Patient Accounts</th>
            <td><button class="btn btn-info" style="width:100%"  id ="printButton" runat="server" Text="Print" OnClick="javascript:window.print();">Print</button></td>
        </tr>

        <tr style="text-align:center">
            <td>@Model.Where(u => u.Status_Of_Account == 1).Count()</td>
            <td>@Model.Where(u => u.User_Type == 2 && u.Status_Of_Account == 1).Count()</td>
            <td>@Model.Where(u => u.User_Type == 3 && u.Status_Of_Account == 1).Count()</td>
            <td>@Model.Where(u => u.User_Type == 4 && u.Status_Of_Account == 1).Count()</td>
        </tr>

        <tr style="text-align:center">
            <th>InActive Accounts</th>
            <th style="color:cadetblue">InActive Accounts</th>
            <th style="color:blue">InActive Accounts</th>
            <th style="color:green">InActive Accounts</th>
        </tr>

        <tr style="text-align:center">
            <td>@Model.Where(u => u.Status_Of_Account == 0).Count()</td>
            <td>@Model.Where(u => u.User_Type == 2 && u.Status_Of_Account == 0).Count()</td>
            <td>@Model.Where(u => u.User_Type == 3 && u.Status_Of_Account == 0).Count()</td>
            <td>@Model.Where(u => u.User_Type == 4 && u.Status_Of_Account == 0).Count()</td>
        </tr>

        <tr style="text-align:center">
            <th>Blocked Accounts</th>
            <th style="color:cadetblue">Blocked Accounts</th>
            <th style="color:blue">Blocked Accounts</th>
            <th style="color:green">Blocked Accounts</th>
        </tr>

        <tr style="text-align:center">
            <td>@Model.Where(u => u.Status_Of_Account == 3).Count()</td>
            <td>@Model.Where(u => u.User_Type == 2 && u.Status_Of_Account == 3).Count()</td>
            <td>@Model.Where(u => u.User_Type == 3 && u.Status_Of_Account == 3).Count()</td>
            <td>@Model.Where(u => u.User_Type == 4 && u.Status_Of_Account == 3).Count()</td>
        </tr>
       
    </table>

    
</div>