@model IEnumerable<GP_EMR_Project.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<hr />
        <div class="u">
            <div class="container stats text-center">
                <h1>Reports</h1> <br />
                <button class="btn btn-outline-info" style="text-align:center; width:150px" id="printButton" runat="server" Text="Print" OnClick="javascript:window.print();">Print</button>
                <div class="row">
                    <div class="col-md-3">
                        <div class="stat members">
                            Users
                            <span><a href="">@Model.Count()</a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat hospitals">
                            Medical Organizations
                            <span><a href="">@Model.Where(u => u.User_Type == 2).Count()</a></span>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="stat hospitals">
                            Doctors
                            <span><a href="">@Model.Where(u => u.User_Type == 3).Count()</a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat members">
                            Life Patients
                            <span><a href="">@Model.Where(u => u.User_Type == 4 && u.Person.Patient.Death_Date == null).Count()</a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat pending">
                            Died Patients
                            <span><a href=""> @Model.Where(u => u.User_Type == 4 && u.Person.Patient.Death_Date != null).Count()</a></span>
                        </div>
                    </div>



                    <div class="col-md-3">
                        <div class="stat members">
                            Active Accounts
                            <span><a href="">@Model.Where(u => u.Status_Of_Account == 1).Count()</a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat members">
                            Active Medical Organizations
                            <span><a href="">@Model.Where(u => u.User_Type == 2 && u.Status_Of_Account == 1).Count()</a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat members">
                            Active Doctors
                            <span><a href="">@Model.Where(u => u.User_Type == 3 && u.Status_Of_Account == 1).Count()</a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat members">
                            Active Patients
                            <span><a href="">@Model.Where(u => u.User_Type == 4 && u.Status_Of_Account == 1).Count()</a></span>
                        </div>
                    </div>



                    <div class="col-md-3">
                        <div class="stat pending">
                            InActive Accounts
                            <span><a href="">@Model.Where(u => u.Status_Of_Account == 0).Count()</a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat pending">
                            InActive Medical Organizations
                            <span><a href="">@Model.Where(u => u.User_Type == 2 && u.Status_Of_Account == 0).Count()</a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat pending">
                            InActive Doctors
                            <span><a href="">@Model.Where(u => u.User_Type == 3 && u.Status_Of_Account == 0).Count()</a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat pending">
                            InActive Patients
                            <span><a href="">@Model.Where(u => u.User_Type == 4 && u.Status_Of_Account == 0).Count()</a></span>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="stat blocked">
                            Blocked Accounts
                            <span><a href="">@Model.Where(u => u.Status_Of_Account == 2).Count() </a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat blocked">
                            Blocked Medical Organizations
                            <span><a href="">@Model.Where(u => u.User_Type == 2 && u.Status_Of_Account == 2).Count() </a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat blocked">
                            Blocked Doctors
                            <span><a href="">@Model.Where(u => u.User_Type == 3 && u.Status_Of_Account == 2).Count() </a></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat blocked">
                            Blocked Patients
                            <span><a href="">@Model.Where(u => u.User_Type == 4 && u.Status_Of_Account == 2).Count() </a></span>
                        </div>
                    </div>

                </div>
            </div>
    </div>

