@model GP_EMR_Project.Models.Examination

@{
    ViewBag.Title = "Add_Examination";
    Layout = "~/Views/Shared/_Doctor.cshtml";
}
<br />

<div class="text-center">
    <h2 style="color:gray">Add Examination</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr style="width:50%"/>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("Patient_Id",(long)ViewBag.Patient_Id)
            @Html.Hidden("Doctor_Id",(long)ViewBag.Doctor_Id)
            @Html.Hidden("Medical_Org_Id",(long)ViewBag.Medical_Org_Id)

            <div style="margin-left:5px;margin-right:5px;">
                <table class="main-table table table-bordered table-hover text-center" style="text-align:center;">
                    <tr>
                        <th>
                            <h3>Result</h3>
                        </th>
                        <th>
                            <h3>Midicine</h3>
                        </th>
                    </tr>

                    <tr>
                        <td>
                                @Html.TextAreaFor(model => model.exm_description_result,  new { @class = "form-control", style = "height:150px;", maxlength = "500" })
                                @Html.ValidationMessageFor(model => model.exm_description_result, "", new { @class = "text-danger" })
                        </td>

                        <td>
                                @Html.TextAreaFor(model => model.exm_midicine,new { @class = "form-control", style = "height:150px", maxlength = "500" })
                                @Html.ValidationMessageFor(model => model.exm_midicine, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>

                <div class="text-center">
                    <input type="submit" value="Add" style="width:150px" class="btn btn-danger"/>
                </div>

        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Back to List", "Examinations",new { id = (long)ViewBag.Patient_Id })
    </div>
</div>
<br />