@model GP_EMR_Project.Models.Doctor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Doctor.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medium_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medium_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acadimic_Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acadimic_Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Functional_Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Functional_Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spacialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spacialization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medical_Org_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medical_Org_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Department_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Department_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.First_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Doctor_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
