@model GP_EMR_Project.Models.Doctor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Doctor.cshtml";
}

<div class="content" style="background-color:beige">
    <div style=" text-align:center">
        @{
            var src = "";
            try
            {
                src = Model.Person.User.Photo_Url.Split(' ')[0];
            }
            catch (Exception ex)
            {
                src = "~/Content/MainPageBootstrap/pic/c3-healthcare-logo-md.png";
            }
        }
        <img src="@Url.Content(src)" alt="patient img" class="img-thumbnail im" style="border-radius:50%;" />
        <center>
            <small-star-rating>
                @{
                    var rate = Model.Medium_Rate;
                    var fraction = Model.Medium_Rate - Math.Truncate(Double.Parse(rate.ToString()));
                    if (rate == null || rate == 0)
                    {
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star "></div>
                        <div class="star "></div>
                        <div class="star"></div>
                    }
                    else
                    {
                        for (int j = 1; j <= 5; j++)
                        {
                            if (j > (int)rate)
                            {
                                if (0.8 <= fraction)
                                {
                                    <div class="star full"></div>
                                }
                                else if (0.4 <= fraction)
                                {
                                    <div class="star Halfstar"></div>
                                }
                                else if (0.3 >= fraction)
                                {
                                    <div class="star"></div>
                                }
                                fraction = 0;
                            }
                            else
                            {
                                <div class="star full"></div>
                            }
                        }
                    }
                }
            </small-star-rating>
        </center>
        <h3 style="color:blue;">@Model.Person.First_Name<span style="color:green">@Model.Person.Last_Name </span> </h3>
        <hr style="width:50%" />
    </div>

    <div style="text-align:center">
        <div class="u">
            <div class="container stats text-center">
                <h1>Welcome</h1> <br />
                <div class="row">
                    @if (Model.Department != null)
                    {
                        <div class="col-md-3">
                            <div class="stat members">
                                Department Name
                                <span><h2>@Model.Department.Department_Name</h2></span>
                            </div>
                        </div>
                    }
                    <div class="col-md-3">
                        <div class="stat hospitals">
                            Medical Organization Name
                            <span><h2>@Model.Department.Medical_Organization.Medical_Org_Name</h2></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat members">
                            Acadimic Degree
                            <span><h2>@Model.Acadimic_Degree</h2></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat " style="background-color:chocolate">
                            Functional Degree
                            <span><h2>@Model.Functional_Degree</h2></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat pending">
                            Spacialization
                            <span><h2>@Model.Spacialization</h2></span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <button class="btn btn-outline-info" style="text-align:center; margin-top:15px; width:150px" id="printButton" runat="server" Text="Print" OnClick="javascript:window.print();">Print</button>
    </div>
    <hr />
</div>
